<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/css/about.css">

</head>

<body>

  <!-- About -->

  <section class="light-section">
    <div class="container-fluid">
      <h1 class="header">Project Description & Motivation</h1>
    </div>
  </section>


  <section class="colored-section">

    <div class="container-fluid">

      <h1>Description</h1>
      <br>
      <br>
      <p class="white"> ProConnect offers its users different ways of customizing their respective pages in order to
        present themselves
        to companies/employers. ProConnect allows users to showcase their experience, skills, education, projects, and
        resume in
        a well organized and customizable manner. In addition, employers will be able to search for users that obtain an
        employer’s
        desired qualities, which includes work style. For this to be done, ProConnect implements several query searching
        and filtering
        algorithms. For example, if a company looking to hire a software engineer needs a software engineer that is
        strong in the Java
        programming language, that company will be able to find user’s that are Java fluent through filtering features.
        Additionally,
        when an employer intends to search for those that are detailed-oriented, data-oriented, ideation-oriented or
        emotionally-oriented,
        as is described by Tate in the article “How To Recognize And Manage Different Work Styles,” there will be a
        filter feature available
        to exhibit those that display a chosen style.
      </p>
    </div>

  </section>


  <section class="light-section">

    <div class="container-fluid">

      <h1>Motivation</h1>
      <br>
      <br>
      <p class="black"> At the time of this project, San Jose State University does not have a dedicated professional
        social media service that assists students
        in making connections with companies. With that in mind, the motivation is to create a web application that is
        able to fulfill that role.
        The creators of ProConnect wanted to make an application that recruiters for companies can default to when
        scouting for applicants. In
        addition, ProConnect also allows users to search for companies that they may be interested in. Students attend
        school in order to acquire
        knowledge for the industry they want to see themselves in. ProConnect is important in that it forms a bridge
        from school to real world
        industries. The problem of students not being able to network with companies through San Jose State University
        is now solved through
        ProConnect’s social platform.
      </p>

    </div>

  </section>

</body>

</html>