<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/contact.css">

</head>

<body>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <!-- Navigiation bar left hand side title -->
      <a class="navbar-brand" href="/home">ProConnect</a>
      <!-- Bootstrap's button styling, also makes it responsive to window sizing-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- The navbar itself -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Meet the team -->
  <div class="top-container">
    <h1>Meet the team!</h1>
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="images/sjsu_tower.png" class="sjsu-tower-img" alt="sjsu-img">
    </div>
    <hr>

    <div class="theteam">
      <h2>Get to know us better!</h2>

      <div class="team-row">
        <img class="team-right-img" src="images/kevin.png" alt="kevin-img">
        <h3>Kevin Pham</h3>
        <p>
          Hello! My name is Kevin Pham and I am currently a undergraduate student working towards a Software Engineering degree at San Jose State University. 
          Some of my hobbies include keeping saltwater fish and corals as well as hognose snakes! 
          Feel free to reach out to me at  <a href="mailto:phamtkevin@gmail.com"><b>my personal email</b></a>.
        </p>
      </div>

      <div class="team-row">
        <img class="team-left-img" src="images/sjsu.png" alt="graduation-cap-img">
        <h3>First Last</h3>
        <p>
          Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.
          Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.
        </p>
      </div>

      <div class="team-row">
        <img class="team-right-img" src="images/sjsu.png" alt="img-img">
        <h3>First Last</h3>
        <p>
          Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.
          Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.
        </p>
      </div>

      <div class="team-row">
        <img class="team-left-img" src="images/sjsu.png" alt="graduation-cap-img">
        <h3>First Last</h3>
        <p>
          Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.
          Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.
        </p>
      </div>

    </div>

  <section class = "light-section">

    <div class="container-fluid">
        <p class = "contactDetails">We are a small team of software engineering students attending San Jose State University.
        Your feedback is appreciated.</p>
        <a class="contact-btn" href="mailto:brauliomendoza18@yahoo.com">CONTACT US</a>

    </div>

  </section>

</body>

</html>
