<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">

    <link rel="stylesheet" href="css/forgotPassword.css">

    <title>Forgot Password Page</title>
</head>

<body class="forgotPasswordPage">
    <div class="insideContainer">
        <h1 class="opening"> Your Email </h1>

        <form action="" method="post">
            <input type="text" name="email" placeholder="Email" />
            <input type="submit" />
        </form>
    </div>
</body>

</html>