<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/profile.css">

    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">ProConnect</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Logout</a>
                      </li>
                </ul>
            </div>
        </div>

    </nav>
    <section class="user-information" id="top-section">
        <div class="outer-user-profile">

            <!-- The user's profile information -->
            <div class="container user-profile">
                <form method="post">

                    <!-- Top Portion of Profile Info -->
                    <div class="row">

                        <!-- Profile Picture -->
                        <div class="col-md-4">
                            <div class="profile-img">
                                <img src="images/sjsu.png" alt="" />
                                <div class="file btn btn-lg btn-primary">
                                    Change Photo
                                    <input type="file" name="file" />
                                </div>
                            </div>
                        </div>

                        <!-- Name and Description -->
                        <div class="col-md-6">
                            <div class="profile-head">
                                <h5>
                                    FirstName LastName
                                </h5>
                                <h6>
                                    Profession and Title
                                </h6>
                                <p class="proile-description"><span>This is a sample description of me.</span></p>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                            role="tab" aria-controls="home" aria-selected="true">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                                            role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Edit Profile Button -->
                        <div class="col-md-2">
                            <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
                        </div>
                    </div>

                    <!-- Bottom Portion of Profile Info -->
                    <div class="row">

                        <!-- Links -->
                        <div class="col-md-4">
                            <div class="profile-work">
                                <p>LINKS</p>
                                <a href="">LinkeddIn</a><br />
                                <a href="">Twitter</a><br />
                                <a href="">Instagram</a>
                                <p>SKILLS</p>
                                <a href="">Data Structures</a><br />
                                <a href="">Network</a><br />
                                <a href="">Internet Security</a><br />
                                <a href="">Java</a><br />
                                <a href="">HTML & CSS</a><br />
                            </div>
                        </div>

                        <!-- Tab Information -->
                        <div class="col-md-8">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>My Name</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>myEmail@email.com</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Phone Number</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>(123) 456-7890</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Profession</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Software Engineer</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Resume</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>My Website</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- The Timeline Tab -->
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Experience</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Expert</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Hourly Rate</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>10$/hr</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Total Projects</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>230</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>English Level</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Expert</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Availability</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>6 months</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Your Bio</label><br />
                                            <p>Your detail description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>

    <!-- Middle Transition Section -->
    <section class="middle-section" id="mid-section">
        <div class="portfolio-section">
            <hr>
            <a class="portfolio"><b>Portfolio</b><br></a>
            <a class="myWork" style="color: rgb(58, 58, 58);"><b>My Work</b></a>
            <hr>
        </div>
    </section>

    <!-- Photo Reel Section -->
    <section class="photo-section">
        <div class="photos">
            <div class="column">
                <img src="images/stock-photos/s1.jpeg" style="width:100%">
                <img src="images/stock-photos/s3.jpeg" style="width:100%">
                <img src="images/stock-photos/s4.jpeg" style="width:100%">
                <img src="images/stock-photos/s5.jpeg" style="width:100%">
                <img src="images/stock-photos/s6.jpeg" style="width:100%">
                <img src="images/stock-photos/s7.jpeg" style="width:100%">
            </div>
            <div class="column">
                <img src="images/stock-photos/s8.jpeg" style="width:100%">
                <img src="images/stock-photos/s9.jpeg" style="width:100%">
                <img src="images/stock-photos/s10.jpeg" style="width:100%">
                <img src="images/stock-photos/s11.jpeg" style="width:100%">
                <img src="images/stock-photos/s12.jpeg" style="width:100%">
                <img src="images/stock-photos/s1.jpeg" style="width:100%">
                <img src="images/stock-photos/s5.jpeg" style="width:100%">
            </div>
            <div class="column">
                <img src="images/stock-photos/s1.jpeg" style="width:100%">
                <img src="images/stock-photos/s3.jpeg" style="width:100%">
                <img src="images/stock-photos/s4.jpeg" style="width:100%">
                <img src="images/stock-photos/s5.jpeg" style="width:100%">
                <img src="images/stock-photos/s6.jpeg" style="width:100%">
                <img src="images/stock-photos/s7.jpeg" style="width:100%">
            </div>
        </div>
    </section>

    <!-- Footer Section with link to template -->
    <footer id="footer">
        <div class="container-fluid">
            <a href="https://bootsnipp.com/snippets/K0ZmK" style="text-align: center;"><b>Credit: Boostrap Profile
                    Design</b></a>
        </div>
    </footer>

</body>

</html>