body
{
  font-family: "Montserrat";
  text-align: center;
  margin: 0;
}

/* çontainers */

.container-fluid
{
  padding: 7% 15%;
}

 /* sections */

 .colored-section
 {
   background-color: #195e83;
   color: #fff;
 }

 .light-section
 {
   background-color: lightblue;
   color: black;
 }

/* About Page */

.header
{
  font-family: "Montserrat-Bold";
  color: black;
  font-size: 4rem;
}

.black
{
  color: black;
  font-size: 1.5rem;
}

.white
{
  color: #fff;
  font-size: 1.5rem;
}
